# PYTHON INTRODUCTION

#                                                      Table Of Content
1.introduction

     1.1 What is Python
     
2.Data types

     2.1 variables
     2.2 Numbers
     2.3 Strings
     2.4 Lists
     2.5 Dictionaries
     2.6 Tuples
     2.7 Sets
   
3.Comparison operators

4.If-Else statement

5.For Loop and While loop

6.Functions

7.Lambda functions

     7.1 Map()
     7.2 Filter()
   
8.File I/O

9.Pandas liberary introduction

10.Series

     10.1 From ndarray
     10.2 From dict
     10.3 From scalar value
     10.4 Series is ndarray-like
     10.5 Series is dict-like
     10.6 Vectorized operations and label alignment with series
   
11.Data frames

     11.1 From dict of series or dicts
     11.2 from dict of ndarrays/lists
     11.3 from a list of dicts
     11.4 from a list of tuples
     11.5 Alternate constructors
     11.6 Column selection, addition, deletion
     11.7 Indexing/ selection
     11.8 Data alignment
     11.9 transposing

# 1. Introduction

## 1.1 What is python

Guido Van Rossum developed the Python language in the late 1980s. In contrast to other popular languages such as C, C++, Java, and C#, Python strives to provide a simple but powerful syntax.It is open source general purpose language with great interactive environment.It provides all the three types of programming features Object Oriented, Procedural and Functional.It is used by many of the most highly productive professional programmers.Moreover, Python can also become a common language for production of web based analytics product. A few of the places that use Python extensively are Google, the New York Stock Exchange, Industrial Light,Magic etc.
#### Important features of Python:
 -  Built-in high level data types: strings, lists, dictionaries, etc.
 -  The usual control structures: if, if-else, if-elif-else, while, plus a powerful collection iterator (for).
 -  Multiple levels of organizational structure: functions, classes, modules, and  packages. These assist in organizing code. An excellent and large example is the Python standard library.
 - Compile on the fly to byte code -- Source code is compiled to byte code without a separate compile step. Source code modules can also be "pre-compiled" to byte code files.
 - Object-oriented -- Python provides a consistent way to use objects: everything is an object. And, in Python it is easy to implement new object types (called classes in object-oriented programming).
 - Extensions in C and C++ -- Extension modules and extension types can be written by hand. There are also tools that help with this, for example, SWIG, sip, Pyrex

# 2. Data types

There are various data types in Python. Some of the important types are listed below.

## 2.1 Variables

 - Python variables do not need explicit declaration to reserve memory space.
 - The declaration happens automatically when you assign a value to a variable.
 - The equal sign = is used to assign values to variables.
  
  Some examples are given as follows:

In [ ]:
area = 200.30  #float type variable
Distance = 100 #integer type variabe
name = 'Sara' #string type variable

#print all values
print (area)
print(Distance)
print(name)

200.3
100
Sara

In [ ]:
#The variable age [float] and the variable name [string] is combined in a print function to print out age & name in the same line.

age = 22
name = "Andrew"
print(age, name)

22 Andrew

## 2.2 Numbers

 - This data type store numeric values
 - Numbers are immutable data types (Immutable data types means values cannot be changed after it is created)

  Some examples are given as follows:

In [ ]:
5 #integer

5

In [ ]:
10+10 #integer

20

In [ ]:
5.5+5.5 #float

11.0

In [ ]:
5**2 #exponent

25

In [ ]:
#division integer

10 / 2

5.0

## 2.3 Strings

 - Strings in Python are identified as a contiguous set of characters represented in the quotation marks.
 - Python allows either pair of single or double quotes.
 - Strings are immutable.
 - Python doesn't support Char data type.It will beas string of length one in python.

In [ ]:
Course="Artificial Intelligence"
name='Sara'
print(name, Course)

Sara Artificial Intelligence

In [ ]:
a=90

In [ ]:
#The variable Day stores the String "Tuesday"

Day = "Tuesday"

### Access values in strings

 - we can access a specific character or range of characters from strings.
 - Subsets of strings can be taken using the slice operator [] and [:] with indexes starting from 0.

 Some examples are listed below:

In [ ]:
stringVariable = 'Hello World'

print("stringVariable[0]:", stringVariable[0])
print("stringVariable[1:5]:", stringVariable[1:5])

stringVariable[0]: H
stringVariable[1:5]: ello

In [ ]:
#The variable Day stores the String "Tuesday"

Day = "Tuesday"

#To access the first letter in Tuesday we will
print(Day[0])

#as the first position in a string is identified by [0]

T

### Updating string

 - Value of string can be changed or updated by assigning a new value to it.
 - New value must have same data type as previous value.
 - For this purpose '+' operator is used as follows:

In [ ]:
stringVariable ="Hello World "
stringVariable = stringVariable[:6]+"Python"


print ("updated string:",stringVariable)

updated string: Hello Python

In [ ]:
#The variable Day stores the String "Tuesday"

Day = "Tuesday"

#To update the string we will add string to before Tuesday
Day = "Today is " + Day

print(Day)

Today is Tuesday

### Delete string

 - we can delete the value of string by just deleteing its object.
 - 'del' keyword is used for this purpose

  It would be cleared by using following example:

In [ ]:
stringVariable ="Hello World "
print (stringVariable)
del stringVariable
print (stringVariable)

Hello World

NameError: name 'stringVariable' is not defined

In [ ]:
#The variable Day stores the String "Tuesday"

Day = "Tuesday"

#To delete the string
del Day

print(Day)

NameError: name 'Day' is not defined

### String special operators

 - some special operators are used in Python to perform different opertions.
   These are given below:

#### String Concatenation

 - To concatenate the strings we used '+' operator.

    Following are the examples of concatenation:

In [ ]:
stringvalue1="machine"
stringvalue2="learning"
print(stringvalue1+stringvalue2)

machinelearning

In [ ]:
#The variable Day stores the String "Tuesday"

Day = "Tuesday"

#To concatenate the strings we can make a new variable

todayIs = "Today is "

#and print them using +

print(todayIs+Day)

Today is Tuesday

#### Repitition

 - '*' symbol is used for repitition.

In [ ]:
stringvalue="Assignment"
print(stringvalue*2)

AssignmentAssignment

In [ ]:
#The variable Day stores the String "Tuesday"

Day = "Tuesday"

#To print multiples of one string
print(Day*5)

TuesdayTuesdayTuesdayTuesdayTuesday

#### Use of [] symbol

 - '[]'symbol give the character of string at given index.

In [ ]:
Stringvalue="Machine Learning"
print(Stringvalue[1])

a

In [ ]:
#The variable Day stores the String "Tuesday"

Day = "Tuesday"

#To access the second letter in Tuesday we will
print(Day[1])

#as the first position in a string is identified by [0] aka second position is [1]

u

#### Use of [:] symbol

 - [:] is used to get substring from string.

In [ ]:
stringvalue="Hello"
print(stringvalue [1:3])

el

In [ ]:
#The variable Day stores the String "Tuesday"

Day = "Tuesday"

#To access the first two letters in Tuesday we will
print(Day[0:2])

#as the first position in a string is identified by [0] & second is identified by [1] so to include 0-1 we will use [0:2] as its from and up to not including

Tu

#### use of 'in'

 - 'in' is used to check the existance of character in string.
 - It returns TRUE if given character exist in string,otherwise FALSE.

In [ ]:
Stringvalue="Hello"
print('H' in Stringvalue)

True

In [ ]:
#The variable Day stores the String "Tuesday"
Day = "Tuesday"

#To check if there is a T in the variable Day
print('T' in Day)

True

#### Use of "not in"

 - 'not in' returns true if given character is not in string,otherwise false.

In [ ]:
Stringvalue="Hello"
print('G' not in Stringvalue)

True

In [ ]:
#The variable Day stores the String "Tuesday"
Day = "Tuesday"

#To check if there is not a T in the variable Day
print('T' not in Day)

False

### String formatting operator

 - Python uses C-style string formatting to create new, formatted strings.
 - The "%" operator is used to format in print statement.

See following examples:

In [ ]:
print("My name is %s and weight is %d kg!" % ("Sara", 21))

My name is Sara and weight is 21 kg!

In [ ]:
#The variable Day stores the String "Tuesday"
Day = "Tuesday"

#you can use % as placeholders in longer strings
#remember to add the variable type after % so in this case %s for strings
print("Today is %s and the weather is %s " % (Day, "snowy"))

Today is Tuesday and the weather is snowy

## 2.4 Lists

 - Multiple types of data can be stored in a list.
 - A list contains items separated by commas and enclosed within square brackets [].
 - Individual elements of a list can be changed
 - list indices start with 0 just like arrays.

In [ ]:
list1 = [ 'Mary', 2000 ]

print (list1) # Prints complete list

['Mary', 2000]

In [ ]:
#Here we make the list classList which stores both strings and integers.

classList = ["Digital Image Design", 100]

#Print allows us to check what is in the list
print(classList)

['Digital Image Design', 100]

### Accessing values in list

 - Square brackets are used to access the values of a list
 - We can access specific values or range of values from a list

In [ ]:
list1 = [ 'Physics' , 'Chemistry' , 1857, 3290]
list2 = [1,2,3,4,5,6,7]

print("list1[0]: ", list1[0])
print("list2[1:5]: ", list2[1:5])

list1[0]:  Physics
list2[1:5]:  [2, 3, 4, 5]

In [ ]:
#Here we make the list classList which stores both strings and integers.

classList = ["Digital Image Design", 100]

#Print allows us to check what is in the list
print(classList)

### Updating list

 - Value of string can be changed or updated by assigning a new value to it.
 - we can update single or multiple elements of a list by giving slice on left hand of the assignment operator.
 - we can also update list by using append() function.

In [ ]:
list1=["dell","Hp","Apple"]
list1[1]="samsung"
print(list1)

list1.append('acer')
print(list1)

['dell', 'samsung', 'Apple']
['dell', 'samsung', 'Apple', 'acer']

In [ ]:
#Here we make the list classList which stores both strings and integers.

classList = ["Digital Image Design", 100]

#append lets us add to the end of a list
classList.append("Spatial Design")

#Print allows us to check what is in the list
print(classList)

['Digital Image Design', 100, 'Spatial Design']

### Delete List Element

- we can delete the element of list by using del keyword or remove()function.
- 'del' keyword is used when you know the position or index of element to be deleted.
- remove() function can be used when you don't know the postion of element to be removed.

  It would be cleared by using following example:

In [ ]:
list1=["dell","Hp","Apple"]
print (list1) # Prints complete list
del list1[1]
print("After deleting the value ")
print (list1)

['dell', 'Hp', 'Apple']
After deleting the value
['dell', 'Apple']

In [ ]:
list1=["dell","Hp","Apple"]
print (list1) # Prints complete list

list1.remove('Hp')
print("After deleting the value ")
print (list1)

['dell', 'Hp', 'Apple']
After deleting the value
['dell', 'Apple']

In [ ]:
#Here we make the list classList which stores both strings and integers.

classList = ["Digital Image Design", 100]

#remove lets us remove from the  list
classList.remove(100)

#Print allows us to check what is in the list
print(classList)

['Digital Image Design']

## 2.5 Dictionaries

 - Dictionary is an unordered set of key: value pairs, with the requirement that the keys are unique (within one dictionary).
 - Each key is seperated by colon(:) from its value.
 - Each item is seperated with comma(,).
 - A pair of braces creates an empty dictionary: {}.
 - Python's dictionaries are kind of hash-table type.
 - A dictionary key can be almost any Python type, but are usually numbers or strings. Values, on the other hand, can be any       arbitrary Python object.
 - Dictionaries are enclosed by curly braces ({ }) and values can be assigned and accessed using square braces ([])
 - Dictionaries have no concept of order among elements. It is incorrect to say that the elements are "out of order"; they are simply unordered

## Accessing value in dictionary

- Square brackets [] along with the key are used to access its value.

In [ ]:
dict1 = {'Name':"Sara" , "Department" : "SIAT", "Batch":2023}
print(dict1['Name'])

Sara

In [ ]:
#Here we make the dictionary classDict which stores keys

classDict = {"Name" : "Digital Image Design" , "Course Code" : "IAT 100"}
print(classDict["Name"])

Digital Image Design

### Updating Dictionary

- we can update values in dictionary
- we can also add new values in dictionary

Some examples are given below:

In [ ]:
dict1 = {'Name':"Sara" , "Department" : "SIAT", "Batch":2023}
print(dict1)
dict1['Batch']="S23"
print(dict1)

{'Name': 'Sara', 'Department': 'SIAT', 'Batch': 2023}
{'Name': 'Sara', 'Department': 'SIAT', 'Batch': 'S23'}

In [ ]:
#Here we make the dictionary classDict which stores keys

classDict = {"Name" : "Digital Image Design" , "Course Code" : "IAT 100"}
print(classDict["Name"])

#we can update items in the dictionary by using the key we would like to update
classDict["Name"]="DIS"
print(classDict)

Digital Image Design
{'Name': 'DIS', 'Course Code': 'IAT 100'}

### Delete Dictionary element

- we can delete elements of dictionary as well as complete content of dictionary.
- To delete single element del keyword is used.
- clear() function  is used to remove complete dictionary.

 Some examples are as follows:

In [ ]:
dict1 = {'Name':"Sara" , "Department" : "SIAT", "Batch":2023}
print(dict1)

del dict1['Batch']
print(dict1)

{'Name': 'Sara', 'Department': 'SIAT', 'Batch': 2023}
{'Name': 'Sara', 'Department': 'SIAT'}

In [ ]:
dict1 = {'Name':"Sara" , "Department" : "SIAT", "Batch":2023}
dict1.clear()
print(dict1)

{}

In [ ]:
#Here we make the dictionary classDict which stores keys

classDict = {"Name" : "Digital Image Design" , "Course Code" : "IAT 100"}
print(classDict["Name"])

#we can delete items in the dictionary by using the key we would like to update
del classDict["Name"]
print(classDict)

#or use the clear method to delete everything
classDict.clear()
print(classDict)

Digital Image Design
{'Course Code': 'IAT 100'}
{}

## 2.6 Tuples

 - A tuple is another sequence data type that is similar to the list.
 - A tuple consists of a number of values separated by commas. Unlike lists, however, tuples are enclosed within parenthesis.
 - The main difference between lists and tuples are âˆ’ Lists are enclosed in brackets ( [ ] ) and their elements and size can be  changed, while tuples are enclosed in parentheses ( ( ) ) and cannot be updated. Tuples can be thought of as read-only lists.   
 - It can also have multiple data type values.

  For example:

### Accessing values in Tuples

- Square brackets [] along with the index are used to access its value.

In [ ]:
tuple1 = ( 'simon','sara' , '20', 'saira40')

print (tuple1)
print(tuple1[1:3])

('simon', 'sara', '20', 'saira40')
('sara', '20')

In [ ]:
#Here we make the tuple classTuple which cannot be updated, so it will stay staic after being created

classTuple = ("Digital Image Design", 100)


#Print allows us to check what is in the tuple
print(classTuple)

('Digital Image Design', 100)

### Updating Tuples

- Tuples are immutable means we cannot change the value of tuple.
- It is read only.
- we are able to take portions of tuples to make a new tuple.

In [ ]:
tuple1=('sun','mon','tue','wed','thur','fri' , 'sat')
tuple2=(1,2,3,4,5,6,7)
print(tuple1)
print(tuple2)
tuple3=(tuple1+tuple2)
print(tuple3)

('sun', 'mon', 'tue', 'wed', 'thur', 'fri', 'sat')
(1, 2, 3, 4, 5, 6, 7)
('sun', 'mon', 'tue', 'wed', 'thur', 'fri', 'sat', 1, 2, 3, 4, 5, 6, 7)

In [ ]:
#Here we make the tuple classTuple & studentTuple which cannot be updated, so it will stay staic after being created

classTuple = ("Digital Image Design", 100)
studentTuple = ("Andrew", "Amy")

#Print allows us to check what is in the tuple
print(classTuple)
print(studentTuple)

#To combind them we can simply use +

schoolTuple = classTuple+studentTuple

print(schoolTuple)

('Digital Image Design', 100)
('Andrew', 'Amy')
('Digital Image Design', 100, 'Andrew', 'Amy')

### Delete tuple elements

- we cannot delete single elements of tuple because they cannot be updated.
- To delete entire elements del keyword is used.

 Some examples are as follows:

In [ ]:
tuple1=('sun','mon','tue','wed','thur','fri' , 'sat')
tuple2=(1,2,3,4,5,6,7)
print(tuple1)
print(tuple2)
del(tuple1)
print(tuple1)

('sun', 'mon', 'tue', 'wed', 'thur', 'fri', 'sat')
(1, 2, 3, 4, 5, 6, 7)

NameError: ignored

In [ ]:
#Here we make the tuple classTuple which cannot be updated, so it will stay staic after being created

classTuple = ("Digital Image Design", 100)

#since we can not change a tuple we have to delete it in its entirety

del(classTuple)

print(classTuple)

NameError: name 'classTuple' is not defined

# 2.7 Sets

 - A set is an unordered collection in which each value occurs at most once.
 - You can use curly braces to give an expression whose value is a set.
 - Python prints sets using curly braces.
 - Every value in a set is immutable but the set itself is immutable we can add o remove items from it.
 - Sets can be used to perform mathematical operations like union,intersection,etc
 - Empty set will be written as {}.
 - We can also make a set from a list using set() function.
 - Data type can be found using type() function.
 - add() is used to add single value, update() is used for adding multiple values.
 - update() function can take tuple,string,list or other set as argument.
 - discard() and remove() are used to delete specific item from list.
 - discard() will not raise an error if item doesn't exist.
 - remove() will raise an error if item doesn't exist in set.
 - The cardinality of a set S is the number of elements in the set.
 - In Python, the cardinality of a set is obtained using the function len(Â·).

In [ ]:
#list
list1=[1,2,3,4,5]

print(type(list1))

my_set=set(list1)

print(type(my_set))

#set of integers
my_set={1,2,3}
print(my_set)

#set of mixed data types
my_set={1, "Hello"}

#adding a single value
my_set.add("D")

#adding multiple values
my_set.update(list1)
print(my_set)


my_set.discard('G') #it will not raise an error
my_set.remove('G') #it will raise an error

<class 'list'>
<class 'set'>
{1, 2, 3}
{1, 2, 3, 'D', 4, 5, 'Hello'}

KeyError: ignored

In [ ]:
#here we can make an empty set, a set is a collection, but each value in the collection can only happen once
mySet = {}

print(mySet)

#we can covert a list to a set by using
myList = [1,2,3,4,5]
mySet = set(myList)

print(mySet)
#we can add to the set with .add
mySet.add("A")

print(mySet)
#however, if you add a value that already exists, it will not result in a duplicate value, but stay as one
mySet.add(1)

print(mySet)

#we can remove or discard to remove items from the set
mySet.discard("A")

print(mySet)

{}
{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5, 'A'}
{1, 2, 3, 4, 5, 'A'}
{1, 2, 3, 4, 5}

# 3.Comparison Operators

 - Comparison operators are used to compare values and return TRUE/FALSE according to the situation.
 - Python defines the following comparison operators:

### Less than operator  (<)

In [ ]:
10<17

True

In [ ]:
#We can compare values with the less than operator <, the system will return either true or false

2<1

False

### Less than equal to operator (<=)

In [ ]:
15<=10

In [ ]:
#We can compare values with the less than equal operator <, the system will return either true or false

2<=2

True

### Equal to operatoe (==)

In [ ]:
16==16

True

In [ ]:
"Sara"=="sara"

False

In [ ]:
"ALI"=="ALI"

True

In [ ]:
#We can compare values with the  equal operator <, the system will return either true or false, this can be numbers, strings and many other things. (Capitalization matters)

"Today" == "Tuesday"

False

### Not equal to operator (!=)

In [ ]:
3!=5

True

In [ ]:
#We can compare values with the not equal operator <, the system will return either true or false, this can be numbers, strings and many other things. (Capitalization matters)

"Today" != 1

True

### OR Operator

In [ ]:
(10==10)or(10<17)

True

In [ ]:
#the or operator lets us check if one of the arguments we inputed is true

(1==1)or(1>2)

#since one side is true, the or will also be true

True

### And operator

In [ ]:
(10==10)and (10<17)

In [ ]:
#the and operator lets us check if both of the arguments we inputed is true

(1==1)and(1>2)

#since one side is true but the other is false, the and will be false

False

# 4.If else statement

 - The ifâ€“else is used to make choices in Python code.
 - This is a compound statement.
 - The syntax is:
 - if c o n d i t i o n
          action âˆ’1
  else :
          action âˆ’2
 - The indentation is required

In [ ]:
x = 3
if x > 0:
    print(" sunday is wonderful")
else :
    print(" Monday is Good ")

 sunday is wonderful

In [ ]:
if 25 % 2:
  print("Even")
else:
  print("Odd")

Even

In [ ]:
# Example of an if-else statement
temperature = -5
# Checking if the temperature is above 30 degrees Celsius
if temperature > 30:
    print("It's a hot day!")
else:
    print("It's not a hot day.")

It's not a hot day.

# 5.For and while loop

- Python has for and while loop for iteration,used when we want to perfrom a specific task repeatedly.

### For loop

- The for statement is used to iterate over the elements of a sequence.
- It's traditionally used when you have a piece of code which you want to repeat n number of time.
- The syntax of a for loop is:

    for item in list :
      a c t i o n
- As usual, the action consists of one or more statements, all at the same indentation level. These statements are also known as the body of the loop. The item is a variable name, and list is a list.
- Execution of the for loop works by setting the variable successively to each item in the list, and then executing the body each time.

  Here is a simple example:

In [ ]:
for i in [2 , 4 , 6 , 0]:
    print(i)

2
4
6
0

In [ ]:
for counter in range(1, 6):
    print (counter)

1
2
3
4
5

In [ ]:
word = "sara"
for letter in word:
    print (letter)

s
a
r
a

In [ ]:
#Example of a for loop

#Here we make a list of days in a week
week = ["M","T","W","TH","F","S","SU"]

#and for each day in the week (list) we will print an element out
for day in week:
  print (day)

M
T
W
TH
F
S
SU

### While loop

In [ ]:
a=0
while a < 10:
  a=a+1
  print(a)

1
2
3
4
5
6
7
8
9
10

In [ ]:
#We can use while loops to create countdowns

time=10

while time > 0:
  time -= 1
  print(time)

9
8
7
6
5
4
3
2
1
0

# 6.Functions

 - You use functions in programming to bundle a set of instructions that you want to use repeatedly or that, because of their  complexity, are better self-contained in a sub-program and called when needed.                                 
 - Function is a piece of code written to carry out a specified task.
 - There are three types of functions in Python:
 - Built-in functions, such as help() to ask for help, min() to get the minimum value, print() to print an object.
 - User-Defined Functions (UDFs), which are functions that users create to help them out.
 - Anonymous functions, which are also called lambda functions because they are not declared with the standard def keyword.
 - The syntax is:

   def functionname(parameters)
    
   "function_docstring"
   
   function_suite
   
   return [expression]

In [ ]:
def my_function(name):
  #This prints a passed string into this function
    print(name)
    return;

#Now you can call my_function
my_function("Mary")

Mary

In [ ]:
#Since we are lazy people and dont want to write code more than once, we can use functions to help us.

#Here we can make a simple calculator
def my_calculator(num1, num2):
  ans = num1 + num2
  return ans;

print(my_calculator(5,10))

15

# 7.Lambda Functions

 - The creation of anonymous functions at runtime,using a construct called "lambda"
 - A lambda function is a small anonymous function.
 - A lambda function can take any number of arguments, but can only have one expression.
 - Lambda function does not include return statement,it always contains an expression which is returned.
 - You might want to use lambdas when you donâ€™t want to use a function twice in a program.

   some examples are given:

In [ ]:
#Normal Function
def f (x):
  return x**2
print (f(8))

64

In [ ]:
times3 = lambda var:var*3
times3(10)

#lamba expressions : another way to write a function in line

30

In [ ]:
add = lambda x, y: x + y

print(add(3, 5))

In [ ]:
#Lambda functions are usually one line functions used when defining a normal function is unnessasary, here we will define a lambda function that gets the x power of x

xpx = lambda x : x ** x

print(xpx(5))

3125

## 7.1 Map()

 - Map() function is used with two arguments.Just like: r=map(func,seq)
 - The first argument func is function name and the second is a sequence(list etc)
 - Map functions expects a function object and any number of iterables like list, dictionary, etc.
 - It executes the function_object for each element in the sequence and returns a list of the elements modified by the function  object.

   Example:

In [ ]:
sentence = "It is raining cats and dogs"
words = sentence.split()
print(words)

lengths= map(lambda word :len(word), words)

list (lengths)

['It', 'is', 'raining', 'cats', 'and', 'dogs']

[2, 2, 7, 4, 3, 4]

In [ ]:
#Lambda functions are usually one line functions used when defining a normal function is unnessasary, here we will define a lambda function that gets the x power of x

myList = [1, 2, 3, 4, 5]

#we can use the map function to map this lambda funtion to a list
xpx = map(lambda x: x ** x, myList)

#here we will convert the results back into a list so we can print it
result_list = list(xpx)

print(result_list)

[1, 4, 27, 256, 3125]

## 7.2 Filter()

 - The filter() method filters the given iterable with the help of a function that tests each element in the iterable to be true or not.
 - The syntax of filter() method is:
      filter(function, iterable)
 - The filter() method takes two parameters:

      1)function - function that tests if elements of an iterable returns true or false If None, the function defaults to Identity function - which returns false if any elements are false
      
      2)iterable - iterable which is to be filtered, could be sets, lists, tuples, or containers of any iterators
 - The filter() method returns an iterator that passed the function check for each element in the iterable.

In [ ]:
# list of alphabets
alphabets = ['a', 'b', 'd', 'e', 'i', 'j', 'o']

# function that filters vowels
def filterVowels(alphabet):
    vowels = ['a', 'e', 'i', 'o', 'u']

    if(alphabet in vowels):
        return True
    else:
        return False

for i in filter(filterVowels, alphabets):
     print(i)

a
e
i
o

In [ ]:
# random list
randomList = [1, 'a', 0, False, True, '0']

filteredList = filter(None, randomList)

print('The filtered elements are:')
for element in filteredList:
    print(element)

The filtered elements are:
1
a
True
0

In [ ]:
ages = [5, 12, 17, 18, 24, 32]

def myFunc(x):
  if x < 18:
    return False
  else:
    return True

adults = filter(myFunc, ages)

for x in adults:
  print(x)

18
24
32

In [ ]:
#Here we have a list of mixed numbers and letters
myList = [1, "a", 2, 3, "c", 4, 5]

# Use the filter function with a lambda function to filter only integers
myListFiltered = list(filter(lambda x: isinstance(x, int), myList))

print(myListFiltered)

[1, 2, 3, 4, 5]

# 8.File I/O

 - In this section we will cover basic I/O functions.

## Reading input from keyboard

 -  There are two functions in Python that you can use to read data from the user:raw_input and input
 -  You can store the results from them into a variable
 -  If the input function is called, the program flow will be stopped until the user has given an input and has ended the input  with the return key. The text of the optional parameter, i.e. the prompt, will be printed on the screen.

 Let's have a look at the following example:

In [ ]:
name = raw_input("What's your name? ")
print("Nice to meet you " + name + "!")

In [ ]:
age = raw_input("What's your age? ")
print("your age is " + age + "!")

In [ ]:
string=raw_input("enter your university....")
print(string)

In [ ]:
#There us no raw_input funtion built into python 3.0 so we should use input() instead.

ans = input("How is your day?")

if (ans == "good"):
  print("Oh nice!")
else:
  print("Oh no.")

How is your day?good
Oh nice!

## I/O From or to text file

 - In this scenario, we will read and write to a text file.
 - we can open files in different modes.

## Read only mode

 - r opens a file in read only mode.
 - The file pointer is placed at the beginning of the file.
 - This is the default mode.

In [ ]:
file = open("hello.txt", "r")
str=file.read();
print(str)
file.close()

In [ ]:
#Since we have no file to use for colab we will pretend this code works

#the r here in the open() funtion means that we will only open the file in read mode, no edits can be made

file = open("data.txt", "r")

#remeber to close your file when you are done with it
file.close()

## Read and write mode

 - r+ opens a file in read and write mode.
 - The file pointer placed at the beginning of the file

In [ ]:
# Open a file
file = open("hello.txt", "r+")
str = file.read(10);
print "Read String is : ", str
# Close opend

In [ ]:
#Since we have no file to use for colab we will pretend this code works

#the r+ here in the open() funtion means that we will open the file in read and write mode, so we can read the contents as well as edit it.

file = open("data.txt", "r+")

#remeber to close your file when you are done with it
file.close()

## Write mode only

 - w opens a file in write mode only.
 - Overwrites the file if the file exists. If the file does not exist, creates a new file for writing

In [ ]:
file = open('write.txt','w')
file.write("This is the write command")
file.write("It allows us to write in a particular file")
file = open('write.txt','r')
str=file.read()
print(str)
file.close()

In [ ]:
#The w here in the open() funtion means that we will only open the file in write mode, no read commands can be made. The difference here is that if the file does not exist it will create a new one, unlike r or r+ which will throw an error.
#Watch out though since write mode will delete all data on a file when its loaded this way

file = open("data.txt", "w")
file.write("New data")
#remeber to close your file when you are done with it
file.close()

## Append mode

 - a opens a file in append mode.
 - The file pointer is at the end of the file if the file exists.
 - That is, the file is in the append mode. If the file does not exist, it creates a new file for writing.

In [ ]:
file = open('write.txt','a')
file.write("This will add this line")
file = open('write.txt','r')
str=file.read()
print(str)
file.close()

In [ ]:
#the a here in the open() funtion means that we will only open the file in append mode, no read commands can be made. The difference here is that if the file does not exist it will create a new one, unlike r or r+ which will throw an error.
#Unlike write append will not delete all data on the file but instead you can only add to the end of the file

file = open("data.txt", "w")
file.append("New data")
#remeber to close your file when you are done with it
file.close()

## Append and read mode

 - a+ opens a file in append and read mode.
 - The file pointer is at the end of the file if the file exists. The file opens in the append mode. If the file does not exist,    it creates a  new file for reading and writing.

In [ ]:
file = open('hello.txt','a+')
file.write("MSCS From comsats university")
file.close()
file = open('hello.txt','r')
str=file.read()
print(str)
file.close()

In [ ]:
#The a+ here in the open() funtion means that we will only open the file in append and read mode, where you can append to the file and read its contents.If no file exists it will create a new one.
#Unlike write append will not delete all data on the file but instead you can only add to the end of the file

file = open("data.txt", "a+")
file.append("New data")
#remeber to close your file when you are done with it
file.close()

## File Position

 - tells() method tells the current position within the file.
 - seek() method changes the current file method.
 - Following is the syntax for seek() method:    fileObject.seek(offset[, whence])

In [ ]:
f = open('hello.txt',"r+")
str=f.read(20);
print("read string is :",str)

position=f.tell();
print("current file position is :",position)

position=f.seek(5);
str=f.read(10);
print("again read string is :",str)
f.close()

In [ ]:
#We can find out where the pointer (where we are accessing) in a file with the tell() method. This can be done in all methods

file = open("data.txt", "a+")
file.append("New data")
position=file.tell();
#^ our current position in file (which should be at the end since we are appending)
#we can move to the start of the file with
file.seek(0)

#remeber to close your file when you are done with it
file.close()

# 9.Pandas Introduction

Pandas is an open-source Python Library providing high-performance data manipulation and analysis tool using its powerful data structures. The name Pandas is derived from the word Panel Data â€“ an Econometrics from Multidimensional data. In 2008, developer Wes McKinney started developing pandas when in need of high performance, flexible tool for analysis of data.

Prior to Pandas, Python was majorly used for data munging and preparation. It had very less contribution towards data analysis. Pandas solved this problem. Using Pandas, we can accomplish five typical steps in the processing and analysis of data, regardless of the origin of data â€” load, prepare, manipulate, model, and analyze.

Python with Pandas is used in a wide range of fields including academic and commercial domains including finance, economics, Statistics, analytics, etc.

#### Key Features of Pandas

-  Fast and efficient DataFrame object with default and customized indexing.
-  Tools for loading data into in-memory data objects from different file formats.
-  Data alignment and integrated handling of missing data.
-  Reshaping and pivoting of date sets.
- Label-based slicing, indexing and subsetting of large data sets.
- Columns from a data structure can be deleted or inserted.
- Group by data for aggregation and transformations.
- High performance merging and joining of data.
- Time Series functionality.

Pandas deals with the following three data structures:
- Series
- DataFrame
- Panel

These data structures are built on top of Numpy array, which means they are fast.

# 10.Series

- The Series is a one-dimensional array that can store various data types, including mix data types.
- The row labels in a Series are called the index.
- Any list, tuple and dictionary can be converted in to Series using â€˜seriesâ€™ method
- Basic method to create a series: s = pd.Series(data, index = index)
- Series is size immutable.

In [ ]:
import pandas as pd
s = pd.Series([1, 'Lahore', 2, 3, 'Happy Eating!'])
s

0                1
1           Lahore
2                2
3                3
4    Happy Eating!
dtype: object

In [ ]:
#To use panda we must import it
import pandas as pd

classes = pd.Series([102, "Digital Design Methods", 110, "Animation"])
#to print out a series
classes

0                       102
1    Digital Design Methods
2                       110
3                 Animation
dtype: object

## 10.1 Series creation from ndarray

- Index must be of same length as data. If no index is passed, it will automatically be [0, ..., len(data) - 1]

In [ ]:
first_series = pd.Series([1,2,4,8,16,32,64])
print(type(first_series))
print(first_series)

<class 'pandas.core.series.Series'>
0     1
1     2
2     4
3     8
4    16
5    32
6    64
dtype: int64

In [ ]:
import numpy as np
s = pd.Series(np.random.randn(5), index=['a', 'b', 'c', 'd', 'e'])
print(s)
print('-'*50)
print(s.index)

a    0.559357
b    0.362491
c   -0.989478
d    0.288712
e    0.463699
dtype: float64
--------------------------------------------------
Index([u'a', u'b', u'c', u'd', u'e'], dtype='object')

In [ ]:
#We can change the index of a series by using the same pandas.series function
#To use panda we must import it
import pandas as pd

classes = pd.Series(["Digital Design Methods", "Animation"], index=[100,343])
#to print out a series
classes

100    Digital Design Methods
343                 Animation
dtype: object

## 10.2 Series creation from dict

- If Data is a dictionary, if index is passed the values in data corresponding to the labels in the index will be pulled out, otherwise an index will be constructed from the sorted keys of the dict.

In [ ]:
d = {'a': 100., 'b': 200., 'c': 300.}
pd.Series(d)

a    100.0
b    200.0
c    300.0
dtype: float64

In [ ]:
data = {'abc': 1, 'def': 2, 'xyz': 3}
pd.Series(data)

abc    1
def    2
xyz    3
dtype: int64

In [ ]:
#To use panda we must import it
import pandas as pd

#Here we make the dictionary classDict which stores keys
classDict = {"Name" : "Digital Image Design" , "Course Code" : "IAT 100"}

#basically functions as creating custom index
pd.Series(classDict)

Name           Digital Image Design
Course Code                 IAT 100
dtype: object

## 10.3 Series creation from a scalar value

- Index must be provided. The value will be repeated to match the length of the index

In [ ]:
pd.Series(5, index = ['a', 'b', 'c'])

a    5
b    5
c    5
dtype: int64

In [ ]:
 x = pd.Series(3, index=['a', 'b', 'c', 'd'])
x

a    3
b    3
c    3
d    3
dtype: int64

In [ ]:
#To use panda we must import it
import pandas as pd

#For situations where we want to fill different indexs with the same value, we can define the index and let the program fill it with the same data

pd.Series("Student", index = ["Andrew","John","Amy"])

Andrew    Student
John      Student
Amy       Student
dtype: object

## 10.4 Series is ndarray-like

- Series acts similar to a numpy array, and is valid arguments to most numpy functions.
- Slicing also slices the index
- Short Intro, back to this later

In [ ]:
s = pd.Series(np.random.randn(5), index=['a', 'b', 'c', 'd', 'e'])
print(s)

a    0.045078
b    0.391752
c   -0.065646
d   -0.468091
e    0.070352
dtype: float64

In [ ]:
#Example here is the fixing of the code: instead of () iloc should be using []

import numpy as np
s = pd.Series(np.random.randn(5), index=['a', 'b', 'c', 'd', 'e'])
print(s.iloc[[2,1,4]])

c   -0.239627
b    1.470781
e    0.192798
dtype: float64

In [ ]:
s = pd.Series(np.random.randn(5), index=['a', 'b', 'c', 'd', 'e'])
print(s[:3])

a   -0.227998
b    0.738016
c    1.740076
dtype: float64

In [ ]:
s = pd.Series(np.random.randn(5), index=['a', 'b', 'c', 'd', 'e'])
print(s[[3,2,1]])

d    0.659163
c    0.038482
b    0.071420
dtype: float64

In [ ]:
s = pd.Series(np.random.randn(5), index=['a', 'b', 'c', 'd', 'e'])
np.exp(s)

a    0.353877
b    0.151906
c    4.624260
d    0.832004
e    1.734511
dtype: float64

In [ ]:
s = pd.Series(np.random.randn(5), index=['a', 'b', 'c', 'd', 'e'])
s['b']

-0.04321504853792073

In [ ]:
s = pd.Series(np.random.randn(5), index=['a', 'b', 'c', 'd', 'e'])
s['b']=12.
s

a    -1.089450
b    12.000000
c    -0.415381
d    -1.272492
e    -0.096899
dtype: float64

In [ ]:
s = pd.Series(np.random.randn(5), index=['a', 'b', 'c', 'd', 'e'])
'e' in s

True

In [ ]:
s = pd.Series(np.random.randn(5), index=['a', 'b', 'c', 'd', 'e'])
'f' in s

False

## 10.5 Series is dict-like

- A Series is like a xed-size dict in that you can get and set values by index label

In [ ]:
s = pd.Series([1, 2, 3, 4])
s.to_dict()

{0L: 1L, 1L: 2L, 2L: 3L, 3L: 4L}

In [ ]:
#To use panda we must import it
import pandas as pd

#We can convered pandas series to dictionary just like how we can do covert it from a dictionary
classSeries = pd.Series(["Digital Image Design" ,"IAT 100"], index=["Course Name", "Course Code"])
classSeries.to_dict()

{'Course Name': 'Digital Image Design', 'Course Code': 'IAT 100'}

## 10.6 Vectorized operations and label alignment with Series

- When doing data analysis,as with the row NumPy arrays looping through series value by value is usually not necessary.
- Series can also be passed into most NumPy method expecting an ndarray.
- NumPy and Pandas generalize arithmetic operations so that we can easily and quickly perform the same operation on many array elements. For example:

In [ ]:
import numpy as np
x = np.array([2, 3, 5, 7, 11, 13])
x * 2

array([ 4,  6, 10, 14, 22, 26])

In [ ]:
data = ['saima', 'aisha', 'faiza', 'saira']
[s.capitalize() for s in data]

['Saima', 'Aisha', 'Faiza', 'Saira']

In [ ]:
#Here lets add a prefix to our class code using vectorized operations

classList = ["100", "102", "210"]
["IAT " + s for s in classList]

['IAT 100', 'IAT 102', 'IAT 210']

# 11.Data Frames

- A DataFrame is a two dimensional object that can have columns with potential different types. Different kind of inputs include dictionaries, lists, series, and even another DataFrame.
- It is the most commonly used pandas object.
- You can create a series from:
    - Dict of 1D ndarrays, lists, dicts, or Series
    - 2-D numpy array
    - A list of dictionaries
    - A Series
    - Another Dataframe
  
- index/ columns is a list of the row/ column labels. If you pass an index and/ or columns, you are guarenteeing the index and /or column of the df.
- If you do not pass anything in, the input will be constructed by "common sense" rules

In [ ]:
dates = pd.date_range('20130101',periods=6)
dates

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [ ]:
#Here is an example of a data frame

data = {
    "Name": ['Andrew', 'John', 'Amy'],
    "Age": [20, 21, 25],
    "Job": ['Student', 'Student', 'TA']
}

print(data)

#If we print it here, it will just be as we typed it, but! If we convert it to a data frame

df = pd.DataFrame(data)

df

{'Name': ['Andrew', 'John', 'Amy'], 'Age': [20, 21, 25], 'Job': ['Student', 'Student', 'TA']}

     Name  Age      Job
0  Andrew   20  Student
1    John   21  Student
2     Amy   25       TA

## 11.1 Dataframe creation from dict of series or dicts

 - The index of the resulting DataFrame will be the union of the indices of the various Series. If there are any nested dicts, these will be converted to Series.
 - If no columns are passed, the columns will be the sorted list of dict keys.

In [ ]:
# Create a dictionary of series
d = {'one': pd.Series([1,2,3], index = ['a', 'b', 'c']),
'two': pd.Series(list(range(4)), index = ['a','b', 'c', 'd'])}
# Columns are dictionary keys, indices and values obtained from series
df = pd.DataFrame(d)
# Notice how it fills the column one with NaN for d
print(df)

   one  two
a  1.0    0
b  2.0    1
c  3.0    2
d  NaN    3

In [ ]:
#Why is this randomly indented lol

d = {'col1': [1, 2], 'col2': [3, 4]}
df = pd.DataFrame(data=d)
df

   col1  col2
0     1     3
1     2     4

In [ ]:
#To use panda we must import it
import pandas as pd
#We will make ours from multiple dicts
newStudentDict1 = {"Name": "Andrew", "Class": "IAT 102"}
newStudentDict2 = {"Name": "Amy", "Class": "IAT 313"}

student_data = [newStudentDict1, newStudentDict2]

# Create a DataFrame from the list of dictionaries
df = pd.DataFrame(student_data)

df

     Name    Class
0  Andrew  IAT 102
1     Amy  IAT 313

## 11.2  Dataframe creation from dict of ndarrays/lists

 - The ndarrays must all be the same length.
 - If an index is passed, it must clearly also be the same length as the arrays. If no index is passed, the result will be range(n), where n is the array length.

In [ ]:
d = {'one' : [1., 2., 3., 4.], 'two' : [4., 3., 2., 1.]}
pd.DataFrame(d)

   one  two
0  1.0  4.0
1  2.0  3.0
2  3.0  2.0
3  4.0  1.0

In [ ]:
df2 = pd.DataFrame(np.random.randint(low=0, high=10, size=(5, 5)), columns=['a', 'b', 'c', 'd', 'e'])
df2

   a  b  c  d  e
0  4  7  6  3  1
1  7  1  7  7  4
2  1  0  3  8  0
3  3  0  9  5  1
4  0  3  2  3  9

In [2]:
#To use panda we must import it
import pandas as pd

#Creating a Dataframe with a dictionary of lists

studentList = {"Students" : ["Andrew", "Amy"], "Year" : [1,2]}
pd.DataFrame(studentList)

  Students  Year
0   Andrew     1
1      Amy     2

## 11.3 Dataframe creation from a list of dicts

In [ ]:
data = [{'a':10,"b":20},{'a':5,'b':10,'c':20}]
pd.DataFrame(data)

    a   b     c
0  10  20   NaN
1   5  10  20.0

In [ ]:
data = [{'a':10,"b":20,"c":30},{'a':5,'b':10,'c':20}]
pd.DataFrame(data)

    a   b   c
0  10  20  30
1   5  10  20

In [4]:
#To use panda we must import it
import pandas as pd

#Creating a Dataframe with a list of dictionaries see how this creates the same data as the one before

studentList = [{"Name" : "Andrew", "Year" : 1},{"Name" : "Amy", "Year" : 2}]
pd.DataFrame(studentList)

     Name  Year
0  Andrew     1
1     Amy     2

## 11.4 Dataframe creation from a dict of tuples

 - You can automatically create a multi indexed by passing a tuple dictionary.

In [ ]:

df = pd.DataFrame({'Initial': ['C','A','M'], 'Sex': ['M', 'F', 'F'], 'Age': [49, 39, 19]})
#df = df[['Initial', 'Sex', 'Age']]
df

   Age Initial Sex
0   49       C   M
1   39       A   F
2   19       M   F

In [ ]:
data = [('p1', 't1', 1, 2),('p1', 't2', 3, 4),('p2', 't1', 5, 6),('p2', 't2', 7, 8),('p2', 't3', 2, 8)]

df = pd.DataFrame(data)
df

    0   1  2  3
0  p1  t1  1  2
1  p1  t2  3  4
2  p2  t1  5  6
3  p2  t2  7  8
4  p2  t3  2  8

In [5]:
#To use panda we must import it
import pandas as pd

#Here we can create a dataframe with tuples, same principle as above
df = pd.DataFrame({'Name': ['Andrew','Amy','John'], 'Sex': ['M', 'F', 'M'], 'Age': [20, 21, 25]})

df

     Name Sex  Age
0  Andrew   M   20
1     Amy   F   21
2    John   M   25

## 11.5 Alternate constructors

### Dataframe.from_dict

 - Dataframe.from_dict takes a dict of dictsor a dict of array like sequences and returns a Dataframe.
 - It operates like the dataframe constructor except for the orient parameter which is coulmn by default,but which can be set to index in order to use the dict keys as row labels.

In [ ]:
data = {"X": {'a': 1, 'b': 2, 'c': 3}, "Y": {'d': 4, 'e': 5, 'f': 6}, "Z": {'g': 7, 'h': 8, 'i': 9}}

df = pd.DataFrame.from_dict(data, orient="index").fillna(0).astype(int)
df

   e  d  f  a  c  b  i  h  g
X  0  0  0  1  3  2  0  0  0
Y  5  4  6  0  0  0  0  0  0
Z  0  0  0  0  0  0  9  8  7

In [6]:
#To use panda we must import it
import pandas as pd

#By changing the orient="index" to none, we can change how the dataframe is oriented
data = {"X": {'a': 1, 'b': 2, 'c': 3}, "Y": {'d': 4, 'e': 5, 'f': 6}, "Z": {'g': 7, 'h': 8, 'i': 9}}

df = pd.DataFrame.from_dict(data).fillna(0).astype(int)
df

   X  Y  Z
a  1  0  0
b  2  0  0
c  3  0  0
d  0  4  0
e  0  5  0
f  0  6  0
g  0  0  7
h  0  0  8
i  0  0  9

### Dataframe.from_records

- Dataframe.from_records take a list of tuples or an ndarray with structured dtype.
- Works analogously to the normal dataframe constructor,except that index may be aspecific field of the structured dtype to use as the index.for example:

In [ ]:
sales = [('Jones LLC', 150, 200, 50),
     ('Alpha Co', 200, 210, 90),
     ('Blue Inc', 140, 215, 95)]
labels = ['account', 'Jan', 'Feb', 'Mar']
df = pd.DataFrame.from_records(sales, columns=labels)
df

     account  Jan  Feb  Mar
0  Jones LLC  150  200   50
1   Alpha Co  200  210   90
2   Blue Inc  140  215   95

In [8]:
#To use panda we must import it
import pandas as pd

# List of tuples containing student information and creat a dataframe from it
studentInfo = [('Andrew', 100, 102, 106),
     ('Amy', 202, 343, 445),
     ('John', 100, 167, 222)]
labels = ['Name', '1st Course', '2nd Course', '3rd Course']
df = pd.DataFrame.from_records(studentInfo, columns=labels)
df

     Name  1st Course  2nd Course  3rd Course
0  Andrew         100         102         106
1     Amy         202         343         445
2    John         100         167         222

### Dataframe.from_items

- Convert (key, value) pairs to DataFrame. The keys will be the axis index (usually the columns, but depends on the specified orientation). The values should be arrays or Series.

In [11]:
#df=pd.DataFrame.from_items([('A',[1,2,3]),('B',[4,5,6])]

#Cannot list example since the function has been removed in python 3...

In [13]:
#df=pd.DataFrame.from_items([('A',[1,2,3]),('B',[4,5,6])])
#df

## 11.6 Column selection,addition,deletion

 - You can treat a DataFrame semantically like a dict of like-indexed Series objects. Getting, setting, and deleting columns works with the same syntax as the analogous dict operations:

In [ ]:
df = pd.DataFrame([[1,2],[3,4],[5,6]], columns=['a','a']) # you can adress column by index
df

   a  a
0  1  2
1  3  4
2  5  6

In [ ]:
df = pd.DataFrame([[1,2],[3,4],[5,6]], columns=['a','a'])
df.columns = ['a','b']  # rename column
df

   a  b
0  1  2
1  3  4
2  5  6

In [ ]:
df = pd.DataFrame([[1,2],[3,4],[5,6]], columns=['a','b'])
del df['b']   # delete column
df

   a
0  1
1  3
2  5

In [ ]:
df = pd.DataFrame([[1,2],[3,4],[5,6]], columns=['a','b'])
df['c']='2'   #add new column c and fill with 2
df

   a  b  c
0  1  2  2
1  3  4  2
2  5  6  2

In [15]:
#To use panda we must import it
import pandas as pd

#Here we can create a dataframe with tuples, same principle as above
df = pd.DataFrame({'Name': ['Andrew','Amy','John'], 'Sex': ['M', 'F', 'M'], 'Age': [20, 21, 25]})

#lets add a column that states that all these people are students

df["Status"]="Student"

df

     Name Sex  Age   Status
0  Andrew   M   20  Student
1     Amy   F   21  Student
2    John   M   25  Student

### 11.7 Indexing / seletion

- Row selection, for example, returns a Series whose index is the columns of the DataFrame:
- Pandas now supports three types of Multi-axes indexing; the three types are:
    - .loc()  (label based)
    - .iloc()  (integer based)
    - .ix()    (both label and integer based)
- loc takes two single/list/range operator separated by ','. The first one indicates the row and the second one indicates columns.
- iloc(): Pandas provide various methods in order to get purely integer based indexing. Like python and numpy, these are 0-based indexing.
- ix(): Besides pure label based and integer based, Pandas provides a hybrid method for selections and subsetting the object using the .ix() operator.

#### .loc()

In [ ]:
df = pd.DataFrame(np.random.randn(8, 4),
index = ['a','b','c','d','e','f','g','h'], columns = ['A', 'B', 'C', 'D'])

#select all rows for a specific column
print (df.loc[:,'A'])

a   -0.079142
b   -1.058681
c   -0.288618
d    1.305291
e   -0.142134
f   -1.700362
g    1.181158
h    1.580676
Name: A, dtype: float64

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df = pd.DataFrame(np.random.randn(8, 4),
index = ['a','b','c','d','e','f','g','h'], columns = ['A', 'B', 'C', 'D'])

# Select all rows for multiple columns, say list[]
print (df.loc[:,['A','C']])

In [ ]:
df = pd.DataFrame(np.random.randn(8, 4),
index = ['a','b','c','d','e','f','g','h'], columns = ['A', 'B', 'C', 'D'])

# Select range of rows for all columns
print (df.loc['a':'h'])

          A         B         C         D
a  0.037907  1.015942 -0.267717  1.894588
b  0.935796 -0.160951 -0.323399 -1.175658
c -0.169679  1.233065 -2.498030 -0.035843
d -0.347513 -1.111108  0.259755 -0.382133
e  0.355051 -0.882159 -0.289581 -0.357559
f -2.254955 -2.390495  0.307529  1.269759
g  0.220503 -0.769530 -0.207382  0.005101
h -1.264961  0.385471 -1.854020  0.627250

In [1]:
#To use panda we must import it
import pandas as pd

#Here we can create a dataframe with tuples, same principle as above
df = pd.DataFrame({'Name': ['Andrew','Amy','John'], 'Sex': ['M', 'F', 'M'], 'Age': [20, 21, 25]})

#we can locate all the students names with

print(df.loc[:,"Name"])

0    Andrew
1       Amy
2      John
Name: Name, dtype: object

#### .iloc()

In [ ]:
df = pd.DataFrame(np.random.randn(8, 4), columns = ['A', 'B', 'C', 'D'])

# select all rows for a specific column
print (df.iloc[:4])

          A         B         C         D
0  0.885934  0.448261  0.584728  0.074509
1  0.670950  1.247670 -1.150118  0.769580
2  0.220727 -0.372701  0.232594  0.188892
3 -0.141555  0.356357  0.119643  0.125009

In [ ]:
df = pd.DataFrame(np.random.randn(8, 4), columns = ['A', 'B', 'C', 'D'])

# Integer slicing

print (df.iloc[1:5, 2:4])

          C         D
1 -0.600980  2.148089
2  0.622637  0.357187
3 -0.038853 -0.265465
4  0.049228 -0.269615

In [ ]:
#To use panda we must import it
import pandas as pd

#Here we can create a dataframe with tuples, same principle as above
df = pd.DataFrame({'Name': ['Andrew','Amy','John'], 'Sex': ['M', 'F', 'M'], 'Age': [20, 21, 25]})

#we can locate the data associated with the 3rd student

print(df.iloc[2])

#### .ix()

In [12]:
#.ix is deprecated and is not avaliable for use in python 3

#import numpy as np

#df = pd.DataFrame(np.random.randn(8, 4), columns = ['A', 'B', 'C', 'D'])

# Integer slicing
#print (df.ix[:4])

In [13]:
#.ix is deprecated and is not avaliable for use in python 3

#df = pd.DataFrame(np.random.randn(8, 4), columns = ['A', 'B', 'C', 'D'])
# Index slicing
#print (df.ix[:,'A'])

## 11.8 Data alignment and arithmetic

 - Data alignment between DataFrame objects automatically align on both the columns and the index (row labels).
 - Again, the resulting object will have the union of the column and row labels.

In [ ]:
df1 = pd.DataFrame(np.random.randn(10, 4), columns=['A', 'B', 'C', 'D'])
df1

          A         B         C         D
0 -0.117700  0.788149  0.776948 -1.159620
1  0.604453 -0.487806  1.356927  0.008448
2 -0.886517  0.044949  0.023818  2.174181
3  0.567215  0.902368  0.135462 -0.051920
4 -0.574904  0.555554 -0.094674 -0.124867
5 -0.087198 -0.785484  0.527486  0.293056
6 -0.112861  1.120604 -0.933670 -0.232908
7  0.336940  0.108904 -0.295332 -2.991587
8 -2.031898  1.290700  1.013805  0.334444
9 -0.021450 -2.232018 -1.355943 -0.144558

In [ ]:

df2 = pd.DataFrame(np.random.randn(7, 3), columns=['A', 'B', 'C'])
df2

          A         B         C
0 -1.676725 -1.169031 -0.619940
1 -0.710089  1.834536 -1.118924
2 -1.306510 -1.427194  1.891368
3  0.707823  1.638324 -1.007516
4  0.552295 -2.373425 -1.137115
5  0.080897 -0.467685  0.484710
6 -0.478739 -0.519066  0.058221

In [ ]:
df1+df2

          A         B         C   D
0 -1.794426 -0.380882  0.157008 NaN
1 -0.105636  1.346731  0.238002 NaN
2 -2.193027 -1.382245  1.915186 NaN
3  1.275037  2.540692 -0.872054 NaN
4 -0.022608 -1.817870 -1.231789 NaN
5 -0.006301 -1.253170  1.012196 NaN
6 -0.591600  0.601538 -0.875449 NaN
7       NaN       NaN       NaN NaN
8       NaN       NaN       NaN NaN
9       NaN       NaN       NaN NaN

- When doing an operation between DataFrame and Series, the default behavior is to align the Series index on the DataFrame columns, thus broadcasting row-wise. For example:

In [ ]:
df1 - df1.iloc[0]

          A         B         C         D
0  0.000000  0.000000  0.000000  0.000000
1  0.722153 -1.275955  0.579979  1.168068
2 -0.768817 -0.743200 -0.753129  3.333801
3  0.684915  0.114219 -0.641486  1.107699
4 -0.457204 -0.232595 -0.871622  1.034753
5  0.030502 -1.573633 -0.249461  1.452675
6  0.004839  0.332455 -1.710617  0.926712
7  0.454640 -0.679244 -1.072280 -1.831968
8 -1.914198  0.502551  0.236857  1.494064
9  0.096250 -3.020167 -2.132890  1.015062

 - In the special case of working with time series data, and the DataFrame index also contains dates, the broadcasting will be column-wise:

In [ ]:
index = pd.date_range('1/1/2000', periods=8)
df = pd.DataFrame(np.random.randn(8, 3), index=index, columns=list('ABC'))
df

                   A         B         C
2000-01-01  0.146072  0.966939 -0.483866
2000-01-02 -0.301393 -0.235599 -0.291576
2000-01-03  0.763213  0.086616  0.607997
2000-01-04 -0.164010 -0.422640 -0.338078
2000-01-05  1.414892 -1.146976  0.355322
2000-01-06  0.448006  0.826819 -0.320917
2000-01-07 -1.299619 -1.786811 -2.381874
2000-01-08  0.172000  0.008814  0.241587

In [ ]:
df1* 10 + 2

           A          B          C          D
0   0.822999   9.881489   9.769477  -9.596196
1   8.044527  -2.878058  15.569265   2.084481
2  -6.865170   2.449487   2.238184  23.741809
3   7.672145  11.023680   3.354615   1.480795
4  -3.749036   7.555543   1.053260   0.751332
5   1.128016  -5.854845   7.274863   4.930555
6   0.871390  13.206037  -7.336697  -0.329076
7   5.369398   3.089045  -0.953321 -27.915874
8 -18.318978  14.906997  12.138047   5.344443
9   1.785502 -20.320177 -11.559426   0.554421

In [ ]:
1/df1

In [ ]:
df1**5

- Boolean operators work as well:

In [ ]:
df1 = pd.DataFrame({'a' : [1, 0, 1], 'b' : [0, 1, 1] }, dtype=bool)
df1

       a      b
0   True  False
1  False   True
2   True   True

In [ ]:
df2 = pd.DataFrame({'a' : [0, 1, 1], 'b' : [1, 1, 0] }, dtype=bool)
df2

       a      b
0  False   True
1   True   True
2   True  False

In [ ]:
df1&df2

       a      b
0  False  False
1  False   True
2   True  False

In [ ]:
df1 | df2

      a     b
0  True  True
1  True  True
2  True  True

In [ ]:
df1^df2

       a      b
0   True   True
1   True  False
2  False   True

In [ ]:
-df1

       a      b
0  False   True
1   True  False
2  False  False

In [17]:
#To use panda we must import it
import pandas as pd

#Here we can create a dataframe with tuples, same principle as above
df = pd.DataFrame({'Sales1': [100,200,300], 'Sales2': [222,2010,49], 'Sales3': [10,20,30]})
newdf = pd.DataFrame({'Name': ['Andrew','Amy','John'], 'Sex': ['M', 'F', 'M'], 'Age': [20, 21, 25]})

#starting a union between the two different data frames
df + newdf

#because there is no replicate column, no data will be registered since union requires the same column to exists in both data frames

   Age Name  Sales1  Sales2  Sales3  Sex
0  NaN  NaN     NaN     NaN     NaN  NaN
1  NaN  NaN     NaN     NaN     NaN  NaN
2  NaN  NaN     NaN     NaN     NaN  NaN

## 11.9 transposing

- To transpose, access the T attribute (also the transpose function), similar to an ndarray:

In [18]:
# only show the first 4 rows
df[:4].T

          0     1    2
Sales1  100   200  300
Sales2  222  2010   49
Sales3   10    20   30

In [21]:
df = pd.DataFrame({'Name': ['Andrew','Amy','John'], 'Sex': ['M', 'F', 'M'], 'Age': [20, 21, 25]})
#only show the first row (using df from above)

df[:1].T

           0
Name  Andrew
Sex        M
Age       20